/* DM Sans from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap'); 

:root {
    --primary-font: "DM Sans";

    --text: #dcd4ee;
    --bg: #161519;
    --primary: #9924dd;
    --secondary: #5f4a80;
    --accent: rgba(196, 205, 38, 0.8);


    --p-color: #834feb;
    --p-surface: #63519f44;
    --p-transparent: rgba(131, 79, 235, 0.4);
    --p-light: #A9A6E5;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    font: inherit;
}
body {
    font-family: var(--primary-font), sans-serif;
    font-size: 18px;
    font-weight: 400;

    background-color: var(--bg);
    color: var(--text);
}

/* BUTTONS */
button {
    border-radius: 1rem;
    padding: .5rem;
    background-color: var(--p-transparent);
}
.big-btn {
    padding: 1rem;
    width: 50%;
    background-color: var(--p-transparent);
}

.btn-cta {
    background-color: var(--accent);
    flex-grow: 1;
}

.btn-small {
    width: 12%;
}


/* Site-wide content */
#nav {
    height: 5vh;
    width: 100%;
    background-color: var(--p-transparent);
    color: var(--text);
}
#nav a {
    color: var(--text);
}
.section-wrapper {
    display: flex;
    justify-content: center;

    height: 80vh;
    margin-top: 1rem;
}
.section-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 100%;
    width: 80vw;
}




/* JOURNAL SECTION - IN DEVELOPMENT */

/* Spans entire journal.html page */
.section-wrapper.journal-pg {
    height: 85vh;
}
.section-container.journal-pg {
    display: flex;
    flex-direction: row;
}

/* Journal app - shared across both NOTES and CHAT windows  */
.journal-app {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
/* options header, present in both NOTES and CHAT */
.options-header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 5%;

    background-color: transparent;
    border-radius: 2rem;
    margin: 1rem 0;
}
/* equivalent to #journal, #advisor */
.journal-container,
.advisor-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.journal-wrapper,
.chat-wrapper {
    width: 95%;
    height: 95%;
    display: flex;
    flex-direction: column;
}

/* NOTES ONLY section */

/* journal-app > options --- journal > wrapper > form > buttons */
#journal {
    background-color: var(--p-surface);
    border-radius: 1rem;
    margin-top: 0.5rem;
}

.journal-wrapper {
    margin: 1rem;
}

/* notes entry UI */
#note-form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    
}

.note-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
    height: 15%;
    
}

.title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 72%;
}

#note-title {
    height: 60%;
}

#note-date {
    font-size: 14px;
    margin-top: 0.5rem;
    padding-left: 1rem;
}

.moon-container {
    /* width: 25%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 14px;
    /* background-color: var(--p-surface);
    border-radius: 1rem; */
}

#note-moon {
    margin-top: 0.5rem;
}

.moon-container img {
    width: 100%;
    height: 80%;
    object-fit: contain;

    background-color: var(--p-surface);
    border-radius: 1rem;
}


textarea, input {
    border: none;
    resize: none;
    border-radius: 1rem;
    padding-left: 1rem;

    background-color: var(--p-surface);
    color: var(--text);
    
}

#note-content {
    flex-grow: 1;
    overflow-y: auto;
}

textarea {
    padding: 1rem;
    margin: 1.5rem 0;
}

::placeholder {
    color: var(--text);
}

.note-footer {
    width: 100%;
    height: 7%;
    display: flex;
    flex-direction: row;
}

#save-note {
    width: 60%;
}















/* INDEX.html */
.landing-img {
    background-color: rgb(0 0 255 / 0.2) !important;
}
.title {
    font-size: 6rem;
    order: 1;
    z-index: 999;
}


/* JOURNAL.html */

/* tarot card section */
.personas {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.persona-title,
.persona-cards,
.moon-info {
    width: 100%;
    height: 20%;

    /* outline: 2px solid red; */
    text-align: center;
}
.persona-cards {
    flex-grow: 1;
}


/* View notes modal */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
    /* TODO: blur */
    background: rgb(93 220 237 / 0.3);
}
.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}
.modal {
    width: auto;
    /* min-width: 300px; */
    max-width: 800px;
    max-height: 60vh;
    overflow-y: auto;
    margin: 1rem;
    transform: translateY(240px);
    transition: transform 0.5s;
    background-color: white;
    color: black;
}
.modal-overlay.active .modal {
    transform: translateY(0);
}

#modal-body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;

    margin: 2rem;
}


/* Saved note elements, displayed with View Notes button */
.note {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    padding: 1rem;

    outline: 2px solid green;
}
.note-info {
    background: rgb(60 60 60 / 0.5);
    outline: 2px solid red;
}

#hide-missed-days :checked > .red-moon {
    visibility: none;
}

/* ADVISOR CHAT */

#chat-body {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    gap: 16px;
}

.user-msg,
.advisor-msg {
    max-width: 85%;
    word-wrap: break-word;
    padding: 0.75rem;
}

.advisor-msg {
    align-self: flex-start;

    background-color: red;
    color: white;
}
.user-msg {
    align-self: flex-end;

    background-color: white;
}

.first-msg {
    margin-top: auto;
}


/* DEBUGGING */
.journal-wrapper > p,
.chat-wrapper > div {
    outline: 2px solid green;
}
#chat-body > div {
    outline: 2px solid blue;
}
.hidden {
    display: none;
}

/* Wireframe boxes */
.wireframe {
    /* background: rgb(100 0 0 / 0.1) !important; */
    outline: 1px solid green !important;
}