*,
*::before,
*::after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    font: inherit;
}

/* Wireframe boxes */
.wireframe {
    background: rgb(100 0 0 / 0.1) !important;
    outline: 1px solid green !important;
}

/* Site-wide content */
#nav {
    height: 5vh;
    width: 100%;
}
.section-wrapper {
    display: flex;
    justify-content: center;

    height: 80vh;
    margin-top: 1rem;
}
.section-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 100%;
    width: 80vw;
}


/* Home Page */
.landing-img {
    background-color: rgb(0 0 255 / 0.2) !important;
}
.title {
    font-size: 6rem;
    order: 1;
    z-index: 999;
}


/* Journal Page */
.section-wrapper.journal-pg {
    height: 85vh;
}
.section-container.journal-pg {
    display: flex;
    flex-direction: row;
}
.personas {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.persona-title,
.persona-cards,
.moon-info {
    width: 100%;
    height: 20%;

    outline: 2px solid red;
    text-align: center;
}
.persona-cards {
    flex-grow: 1;
}

/* Journal app  */
.journal-app {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.options-header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 5%;
}

.journal-container,
.advisor-container {
    width: 100%;
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.journal-wrapper,
.chat-wrapper {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
}

/* Advisor chat */

#chat-body {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    gap: 16px;
}

.user-msg,
.advisor-msg {
    max-width: 85%;
    word-wrap: break-word;
    padding: 0.75rem;
}

.advisor-msg {
    align-self: flex-start;

    background-color: red;
    color: white;
}
.user-msg {
    align-self: flex-end;

    background-color: white;
}

.first-msg {
    margin-top: auto;
}

/* debugging */
.journal-wrapper > p,
.chat-wrapper > div {
    outline: 2px solid green;
}
#chat-body > div {
    outline: 2px solid blue;
}
.hidden {
    display: none;
}