*,
*::before,
*::after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    font: inherit;
}

/* Wireframe boxes */
.wireframe {
    background: rgb(100 0 0 / 0.1) !important;
    outline: 1px solid green !important;
}

/* Site-wide content */
#nav {
    height: 5vh;
    width: 100vw;
}
.section-wrapper {
    display: flex;
    justify-content: center;

    height: 80vh;
    margin-top: 1rem;
}
.section-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 100%;
    width: 80vw;
}


/* Home Page */
.landing-img {
    background-color: rgb(0 0 255 / 0.2) !important;
}
.title {
    font-size: 6rem;
    order: 1;
    z-index: 999;
}


/* Journal Page */
.section-wrapper.journal-pg {
    height: 85vh;
}
.section-container.journal-pg {
    display: flex;
    flex-direction: row;
}
.personas {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.chat {
    width: 50%;
    height: 100%;
}

.persona-title,
.persona-cards,
.moon-info,
.journal,
.advisor {
    width: 100%;
    height: 20%;

    outline: 2px solid red;
    text-align: center;
}
.persona-cards {
    flex-grow: 1;
}